table{
    overflow-y:scroll;
    font-weight:normal;
    font-family: Courier New, monospace;
    height: 200px;
    display:block;
    margin-top:50px;
    position: relative;
}

#columns{
    font-size: 20px;
}

tr{
    font-size: 15px;
}

th {
    background-color: rgba(111, 195, 157, 0.53);
    position: sticky;
    top: 0;
    font-weight: normal;
    font-family: Courier New, monospace;
}

h1{
    font-weight: normal;
    font-family: Courier New, monospace

}

#d1 {
    float:left;
    margin: 50px;
}
#d2{
    float:right;
    margin: 50px;
}
#d3{
    margin: 20px;
}
#d4{
    margin: 20px;
}

